@page
@model SodaMachineRazorUI.Pages.GenerateAdminModel
@{
    ViewData["Title"] = "GenerateAdmin";
}

<h1>Generate Admin</h1>

<h2>Role Created: @Model.RoleCreated</h2>
<h2>Admin User Id: @Model.AdminUserId</h2>